apiVersion: v1
kind: ServiceAccount
metadata:
  name: traefik-ingress-controller

---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: traefik
  labels:
    app: traefik

spec:
  replicas: 1
  selector:
    matchLabels:
      app: traefik
  template:
    metadata:
      labels:
        app: traefik
    spec:
      serviceAccountName: traefik-ingress-controller
      tolerations:
        - operator: "Exists"
      nodeSelector:
        kubernetes.io/hostname: k8s-master
      volumes:
        - name: acme
          hostPath:
            path: /data/k8s/traefik/acme
      containers:
        - name: traefik
          image: traefik:v2.1
          ports:
            - name: web
              containerPort: 80
            - name: websecure
              containerPort: 443
            - name: admin
              containerPort: 8080
            - name: mongo
              hostPort: 27017
              containerPort: 27017
            - name: postgres
              hostPort: 5432
              containerPort: 5432
          args:
            - --entryPoints.web.address=:80
            - --entryPoints.web.forwardedHeaders.insecure
            - --entryPoints.web.forwardedHeaders.trustedIPs=0.0.0.0/0
            - --entryPoints.websecure.address=:443
            - --entryPoints.mongo.address=:27017
            - --entryPoints.postgres.address=:5432
            - --api=true
            - --api.dashboard=true
            - --ping=true
            - --providers.kubernetesingress
            - --providers.kubernetescrd
            - --serversTransport.insecureSkipVerify=true
            - --log.level=INFO
            - --accesslog
            - --certificatesResolvers.le.acme.dnsChallenge=true
            - --certificatesResolvers.le.acme.dnsChallenge.provider=cloudflare
            - --certificatesresolvers.le.acme.email=roy.w.w.wang@gmail.com
            - --certificatesresolvers.le.acme.storage=/etc/acme/acme.json
          env:
            - name: CF_API_EMAIL
              value: roy.w.w.wang@gmail.com
            - name: CF_API_KEY
              valueFrom:
                secretKeyRef:
                  name: cloudflare-credentials
                  key: globalApiKey
          volumeMounts:
            - name: acme
              mountPath: /etc/acme
          resources:
            requests:
              cpu: "50m"
              memory: "50Mi"
            limits:
              cpu: "200m"
              memory: "100Mi"
          securityContext:
            allowPrivilegeEscalation: true
            capabilities:
              drop:
              - ALL
              add:
              - NET_BIND_SERVICE
          readinessProbe:
            httpGet:
              path: /ping
              port: 8080
            failureThreshold: 1
            initialDelaySeconds: 10
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 2
          livenessProbe:
            httpGet:
              path: /ping
              port: 8080
            failureThreshold: 3
            initialDelaySeconds: 10
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 2
---
apiVersion: v1
kind: Service
metadata:
  name: traefik
spec:
  type: LoadBalancer
  selector:
    app: traefik
  ports:
    - protocol: TCP
      port: 80
      name: web
      targetPort: 80
    - protocol: TCP
      port: 8080
      name: admin
      targetPort: 8080
    - protocol: TCP
      port: 443
      name: websecure
      targetPort: 443
    - protocol: TCP
      port: 27017
      name: mongo
      targetPort: 27017
    - protocol: TCP
      port: 5432
      name: postgres
      targetPort: 5432
  externalIPs:
    - YOUR_IP